
<html lang="en">

<head>
    <title>Weather app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Parth Savaliya. It uses data from mapbox.com and weatherstack.com to fetch weather info!!</p>
        <img class="portrait" src="./img/me.jpg" alt="" srcset="">
    </div>

    {{>footer}}
</body>

</html>